-
    cv_education = [ 
        {
            date:	"2018-...",
            what:	"Ph.D. Student in Statistical Mechanics",
            where:	"@ UNIMI",
            url:	"http://phd.fisica.unimi.it"
        },{
            date:	"2016-2018",
            what:	"M.Sc. in Theoretical Physics",
            where:	"@ UNIMI",
            url:	"https://www.unimi.it/en/education/physics-0"
        },{
            date:	"2013-2016",
            what:	"B.Sc. in Physics",
            where:	"@ UNIMI",
            url:	"https://www.unimi.it/en/education/physics"
        }
    ]

    cv_schools = [
        {
            date:	"10/2019",
            what:	"Mathematical and Computational Aspects of Machine Learning",
            where:	"@ SNS, Pisa",
            url:	"http://www.crm.sns.it/event/451/"
        },{
            date:	"02/2019",
            what:	"Lectures on Statistical Field Theories",
            where:	"@ GGI, Firenze",
            url:	"http://theory.fi.infn.it/SFTschool/SFT_2019/"
        },{
            date:	"09/2015",
            what:	"Internship in Electronic Structure",
            where:	"@ ESRF, Grenoble",
            url:	"https://www.esrf.eu/home/education/summer-student-programme.html"
        }
    ]

    cv_work = [
        {
            date:	"2018-...",
            what:	"Tutoring for \"Basic Math\" and \"Complex and Functional Analysis\" university courses",
            where:	"@ UNIMI", 
            url:	"http://wwwteor.mi.infn.it/~molinari/metodi2018.html"
        },{
            date:	"2016-2017",
            what:	"Substitute teacher for an high school Physics course",
            where:	"@ Istituto Einaudi, Varese",
            url:	"https://www.ipceinaudivarese.edu.it/"
        },{
            date:	"2014-2017",
            what:	"Secretary, organizer of PAPAP16 and IT contributor",
            where:	"@ AISF",
            url:	"http://ai-sf.it/"
        },{
            date:	"2014-2017",
            what:	"Tutoring for Astronomical Science Camps aimed at gifted high school students",
            where:	"@ Sterrenlab",
            url:	""
        }
    ]

    projects = {
        MATC: {
            name:   "Statistical Physics of Matching Problem",
            collab: "With Sergio Caracciolo and Andrea Sportiello",
            page:   "matching",
            image:  "matching.png",
            description: "The matching problem sits at the intersection of modern computer science, probability theory and disordered system physics being both a close relative of the optimal transport problem and a toy model for spin glasses. <br> We investigate the statistical properties of a random version of the problem with an underlying non-Euclidean metric."
        },
        DATA: {
            name:   "Theoretical Data Science",
            collab: "With Marco Gherardi and Pietro Rotondo",
            page:   "data_science",
            image:  "",
            description: "Machine learning is a powerful but still not well-understood tool in computer science and data analysis. While a lot of effort has been put into understanding the properties of machine learning architectures, not much has been done to study the intrinsic structure of datasets. <br> We focus on understanding how the mathematical structure underlying datasets and their embeddings affects the outcome of learning tasks."
        },
        HIGH: {
            name:   "Concentration Phenomena in High Dimension",
            collab: "With Marco Gherardi and Pietro Rotondo",
            page:   "high_dim",
            image:  "",
            description: "In high dimension, distances between random points tend to concentrate around an average value; this makes extracting information from such points non-trivial. <br> We study such concentration phenomena under the unifying framework of central limit theorems, with applications to geometric network theory."
        }
    }
    
    talks = [
        {
            date:	"31/10/2019",
            where:	"Complex System Meeting, Milano",
            name:	"Intrinsic dimension estimation for locally undersampled data",
            desc:	"15min talk",
            file:	"talk-IDE-ComplexSystemsMilan.pdf"
        },
        {
            date:	"12/11/2019",
            where:	"Michele Parrinello's group, USI Lugano",
            name:	"Intrinsic dimension estimation for locally undersampled data",
            desc:	"30min talk",
            file:	"talk-IDE-USI.pdf"
        }    
    ]

    posters = [
        {
            date:	"24/06/2019",
            where:	"XXIV Statistical Physics Meeting, Parma",
            name:	"Intrinsic dimension estimation for locally undersampled data",
            desc:	"Poster",
            file:	"poster-IDE-Parma.pdf"
        }
    ]

    theses = [
        {
            date:	"04/10/2018",
            where:	"Supervisor: Sergio Caracciolo <br> Co-Supervisors: Andrea Di Gioacchino & Enrico Malatesta",
            name:	"Random Euclidean Bipartite Matching with concave cost functions in 1d",
            desc:	"M.Sc. thesis",
            file:	"MSC-thesis.pdf"
        },
        {
            date:	"20/07/2016",
            where:	"Supervisor: Luca Molinari <br> Co-Supervisor: Pietro Rotondo",
            name:	"Slater decomposition of fractional quantum Hall states",
            desc:	"B.Sc. thesis",
            file:	"BSC-thesis.pdf"
        }

    ]

    publications = [
        {
            date:       "18/06/2019",
            title:      "Intrinsic dimension estimation for locally undersampled data",
            authors:    "Erba, Gherardi & Rotondo",
            journal:    "Scientific Reports (2019)",
            doi:        "doi: 10.1038/s41598-019-53549-9",
            url:        "https://doi.org/10.1038/s41598-019-53549-9",
            image:      "",
            project:    "DATA",
            description: ""
        },{
            date:       "14/01/2020",
            title:      "The Dyck bound in the concave 1-dimensional random assignment model",
            authors:    "Caracciolo, D'Achille, Erba & Sportiello",
            journal:    "Journal of Physics A (2020)",
            doi:        "doi: 10.1088/1751-8121/ab4a34",
            url:        "https://doi.org/10.1088/1751-8121/ab4a34",
            image:      "matching.png",
            project:    "MATC",
            description: ""
        },{
            date:       "19/05/2017",
            title:      "Unified Fock space representation of fractional quantum Hall states",
            authors:    "Di Gioacchino, Molinari, Erba & Rotondo",
            journal:    "Physical Review B (2017)",
            doi:        "doi: 10.1103/PhysRevB.95.245123",
            url:        "https://doi.org/10.1103/PhysRevB.95.245123",
            image:      "",
            project:    "FQHE",
            description: ""
        }
    ].sort(datesort)

    materials = [...talks, ...posters, ...theses].sort(datesort)

-   function datesort(a,b) { return new Date( b.date.slice(6,10), b.date.slice(3,5), b.date.slice(0,2)) - new Date( a.date.slice(6,10), a.date.slice(3,5), a.date.slice(0,2)); }
