doctype html
html(lang='en')
    head
        title Vittorio Erba

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- link(rel='stylesheet', href='./src/style.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css")
        link(href='https://fonts.googleapis.com/css?family=Comfortaa&display=swap', rel='stylesheet')
        link(href='<link rel="stylesheet" type="text/css" href="//chr15m.github.io/minimal-stylesheet/minimal.css"/>', rel='stylesheet')

    body
        header
            #header-container
                label(for='nav')
                input#nav(type='checkbox')
                a#logo(href='mailto:vittorio.erba@unimi.it') VITTORIO.ERBA@UNIMI.IT
                nav
                    ul
                        li
                            a(href='') HOME
                        li
                            a(href='#research') RESEARCH
                        li
                            a(href='#teaching') TEACHING
                        // li
                        //     a(href='#') MISC
        div#content
            #content-container
                div#introduction
                    div#desc
                        p I'm a Ph.D. student in Statistical Mechanics at the University of Milan, where I work under the supervision of Professor 
                            a(href="http://pcteserver.mi.infn.it/~caraccio/") Sergio Caracciolo
                            | .
                        p My research projects lie at the intersection of disordered-systems physics, machine learning and combinatorial optimization. At the moment, my interest is shifting more and more on the study of learning architectures.
                        p When I'm not programming for research, you can usually find me programming, cooking or reading a good book!

                    #photo
                        img(src="files/VittorioErba_2.jpg")

                div.sec#cv
                    div.sec-title CV in short (long version 
                        a(href="files/CV_VittorioErba.pdf") here
                        | )
                    table.list
                        tr
                            td.left 
                                b 2018 - 2020
                            td.right Ph.D. student in Statistical Mechanics & Teaching assistant @ 
                                a(href="http://phd.fisica.unimi.it/") UNIMI

                        tr
                            td.left 
                                b 2016 - 2018
                            td.right M.Sc. in Theoretical Physics @ 
                                    a(href="https://www.unimi.it/en/education/physics-0") UNIMI

                        tr
                            td.left 
                                b 2013 - 2016
                            td.right B.Sc. in Physics @ 
                                    a(href="https://www.unimi.it/en/education/physics") UNIMI
                        tr
                            td.left 
                                b 2015 - 2017
                            td.right Secretary, IT contributor and event organizer @ 
                                    a(href="http://ai-sf.it/") AISF


                div.sec
                    div.sec-title News
                    table.list
                        tr
                            td.left
                                b 27 Jun 2021
                            td.right
                                | Participating to the 
                                a(href="https://sites.google.com/view/cargese2021") Cargese 2021 school on "Glassy Systems and Inter-Disciplinary Applications"
                                |.
                        tr
                            td.left
                                b 3 May 2021
                            td.right
                                | New 
                                a(href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.126.183601").shaded-in-text article
                                |  published in Physical Review Letters.
                        tr
                            td.left
                                b 21 Mar 2021
                            td.right
                                | New 
                                a(href="https://link.springer.com/article/10.1007%2Fs10955-021-02741-1").shaded-in-text article
                                |  published in Journal of Statistical Physics.
                        tr
                            td.left
                                b 10 Feb 2021
                            td.right
                                | Participating to the 
                                a(href="https://sites.google.com/mila.quebec/senai/home") Symposium on Explanation in Neuroscience and Artificial Intelligence
                                |.
                        tr 
                            td.left 
                                b 14 Jan 2021
                            td.right
                                | New 
                                a(href="https://arxiv.org/abs/2101.04926").shaded-in-text pre-print
                                |  out on the arXiv.
                        tr 
                            td.left 
                                b 12 Jan 2021
                            td.right
                                | New 
                                a(href="https://arxiv.org/abs/2101.03754").shaded-in-text pre-print
                                |  out on the arXiv.
                        tr 
                            td.left 
                                b 15 Dec 2020
                            td.right Virtual seminar @EPFL. Check out the 
                                a(href="files/2012-DataStruct-talk-EPFL-VittorioErba.pdf").shaded-in-text slides
                                | .

                        tr 
                            td.left 
                                b 27 Oct 2020
                            td.right
                                | New 
                                a(href="https://arxiv.org/abs/2010.14468").shaded-in-text pre-print
                                |  out on the arXiv.

                        tr
                            td.left
                                b 6 Oct 2020
                            td.right
                                | Participating to the 
                                a(href="https://braincriticality.org/") Brain Criticality Virtual Meeting
                                |.
                        tr
                            td.left
                                b 14 Sep 2020
                            td.right
                                | New 
                                a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.032119").shaded-in-text article
                                |  published in PRE, selected as Editor's suggestion.
                        tr 
                            td.left
                                b 14 Jul 2020
                            td.right
                                | New 
                                a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.012306").shaded-in-text article
                                |  published in PRE.

                div#research.big-title.shaded Research
                div.sec
                    div.sec-title Publications
                        a(href="https://scholar.google.com/citations?user=mUgeZ3YAAAAJ&hl=it")
                            i.ai.ai-lg.ai-google-scholar
                        a(href="https://publons.com/researcher/3860363/vittorio-erba/")
                            i.ai.ai-lg.ai-publons
                        a(href="https://www.scopus.com/authid/detail.uri?authorId=57194828169")
                            i.ai.ai-lg.ai-scopus
                        a(href="https://arxiv.org/search/?searchtype=author&query=Erba%2C+Vittorio")
                            i.ai.ai-lg.ai-arxiv
                        a(href="https://orcid.org/0000-0001-8017-928X")
                            i.ai.ai-lg.ai-orcid
                    table.list
                        tr 
                            td.left
                                b 3 May 2021
                            td.right
                                b Self-induced glassy phase in multimodal cavity quantum electrodynamics.
                                br
                                | Erba, Pastore, Rotondo. 
                                a(href="https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.126.183601") Physical Review Letters
                        tr
                            td.left
                                b 21 Mar 2021
                            td.right
                                b The number of optimal matchings for Euclidean Assignment on the line
                                br
                                | Caracciolo, Erba, Sportiello. 
                                a(href="https://link.springer.com/article/10.1007%2Fs10955-021-02741-1") Journal of Statistical Physics
                        tr 
                            td.left
                                b  27 Oct 2020
                            td.right
                                b The p-Airy distribution.
                                br
                                | Caracciolo, Erba, Sportiello. 
                                a(href="https://arxiv.org/abs/2010.14468") arXiv
                        tr
                            td.left
                                b  14 Sep 2020
                            td.right
                                b Statistical learning theory of structured data
                                br
                                | Pastore, Gherardi, Erba, Rotondo. 
                                a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.032119") Physical Review E (Editor's suggestion)
                        tr
                            td.left
                                b  14 Jul 2020
                            td.right
                                b Random geometric graphs in high dimension
                                br
                                | Erba, Ariosto, Gherardi, Rotondo. 
                                a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.012306") Physical Review E
                        tr
                            td.left
                                b  14 Jan 2020
                            td.right
                                b The Dyck bound in the concave 1-dimensional random assignment model
                                br
                                | Caracciolo, D'Achille, Erba, Sportiello. 
                                a(href="https://iopscience.iop.org/article/10.1088/1751-8121/ab4a34") Journal of Physics A
                        tr
                            td.left
                                b  20 Nov 2019
                            td.right
                                b Intrinsic dimension estimation for locally undersampled data
                                br
                                | Erba, Gherardi, Rotondo. 
                                a(href="https://www.nature.com/articles/s41598-019-53549-9") Scientific Reports
                        tr
                            td.left
                                b  19 Jun 2017
                            td.right
                                b Unified Fock space representation of fractional quantum Hall states 
                                br
                                | Caracciolo, Erba, Sportiello. 
                                a(href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.95.245123") Physical Review B

                div.sec
                    div.sec-title Slides
                    table.list
                        tr 
                            td.left
                                b 15 Dec 2020
                            td.right
                                b Data structure in machine learning: estimators and models
                                br
                                | Virtual talk @ EPFL. 
                                a(href="files/2012-DataStruct-talk-EPFL-VittorioErba.pdf") Slides
                        tr
                            td.left
                                b 12 Nov 2019
                            td.right
                                b Intrinsic dimension estimation for locally undersampled data
                                br
                                | Talk @ USI.  
                                a(href="files/1911-IDE-talk-USI-VittorioErba.pdf") Slides
                        tr
                            td.left
                                b 31 Oct 2019
                            td.right
                                b Intrinsic dimension estimation for locally undersampled data
                                br
                                | Talk @ V Complex Systems meeting, Milan.  
                                a(href="files/1910-IDE-talk-Milano-VittorioErba.pdf") Slides
                        tr
                            td.left
                                b 24 Jun 2019
                            td.right
                                b Intrinsic dimension estimation for locally undersampled data
                                br
                                | Poster @ XXXIV Statistical Physics meeting, Parma.  
                                a(href="files/1906-IDE-poster-Parma-VittorioErba.pdf") Slides
                    
                div.sec
                    div.sec-title Software
                        a(href="https://github.com/vittorioerba")
                            i.fa.fa-lg.fa-github
                    table.list
                        tr 
                            td.left
                                b &#8226;
                            td.right
                                b A small collection of Julia utilities for lattice path simulations.
                                br
                                a(href="https://github.com/vittorioerba/juliaLatticePaths") Github
                        tr
                            td.left 
                                b &#8226;
                            td.right
                                b pyFCI: a Full Correlation Integral IDE library in Python
                                br
                                a(href="https://github.com/vittorioerba/pyFCI") Github

                div#teaching.big-title.shaded Teaching
                div.sec
                    div.sec-title Tutoring
                    table.list
                        tr 
                            td.left
                                b Spring 2021
                            td.right
                                b Mathematical methods for physics
                                br
                                
                                | Complex and functional analysis. 
                                a(href="teaching_metodi2021.html") Tutoring website
                                |  - 

                                a(href="http://wwwteor.mi.infn.it/~molinari/metodi2020.html") Course website
                        tr 
                            td.left
                                b Fall 2020
                            td.right
                                b Numerical treatment of experimental data
                                br
                                
                                | OOP and numerical simulations in C++. 
                                a(href="http://labmaster.mi.infn.it/Laboratorio2/labTNDS/") Course website
                        tr
                            td.left
                                b Sep 2020
                            td.right
                                b Pre-course of mathematics for physicists
                                br
                                
                                a(href="teaching_precorso2021.html") Course website
                        tr 
                            td.left
                                b Spring 2020
                            td.right
                                b Mathematical methods for physics
                                br
                                
                                | Complex and functional analysis. 
                                a(href="teaching_metodi2020.html") Tutoring website
                                |  - 

                                a(href="http://wwwteor.mi.infn.it/~molinari/metodi2020.html") Course website
                        tr
                            td.left
                                b Fall 2019
                            td.right
                                b Basic math for Natural Sciences
                        tr
                            td.left
                                b Spring 2019
                            td.right
                                b Mathematical methods for physics
                                br
                                
                                | Complex and functional analysis. 
                                a(href="http://wwwteor.mi.infn.it/~molinari/metodi2020.html") Course website
                
                div.sec
                    div.sec-title Student supervision
                    table.list
                        tr 
                            td.left
                                b Jun 2019 - Apr 2020
                            td.right
                                b M.Sc. Thesis - Sebastiano Ariosto
                                br
                                
                                | Now PhD student @ Insubria University. 
                                a(href="files/2004-MSC-thesis-SebastianoAriosto.pdf") Thesis
                        tr
                            td.left
                                b Oct 2019 - Apr 2020
                            td.right
                                b M.Sc. Thesis - Mirko Rossini
                                br
                                
                                | Now PhD student @ Ulm University. 
                                a(href="files/2004-MSC-thesis-MirkoRossini.pdf") Thesis


        footer
