body {
  color: #555;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 0em 2em;
}

  
h1 {
  font-size: 2em;
}

p {
  text-align: justify;
}

a {
  color: #f56a6a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}  
 

