include includes/mixins.pug
include includes/data.pug

+page_skeleton

    +section_title
        div(id="precorso1920")
            | Precorso di matematica per le matricole in Fisica 2020/21

        
        
    p.b Il precorso si svolgerà su Zoom in aula virtuale A dal 21 al 25 settembre, dalle 9.00 alle 12.00.

    p Potete contattarmi all'indirizzo 
        +link("mailto:vittorio.erba@unimi.it")
            | vittorio.erba [at] unimi [dot] it 
        | per ogni dubbio o domanda sugli argomenti in programma.

    p.b Audio, video, chat e pdf delle lezioni saranno disponibili dopo la lezione.

    .flex.flex-wrap.justify-around
        +float_box
            +lecture_title Lezione 1: Funzioni

            p Aula virtuale A, 21/09/2020 9:00-12:00

            p.b Teoria
            ul
                li Definizione, dominio, codominio
                li Iniettività, suriettività e biunivocità
                li Funzioni reali, monotonia, massimi e minimi

            p.b Esercizi sulle famiglie di funzioni elementari
            ul
                li Polinomi e funzioni razionali
                li Funzioni irrazionali
                li Esponenziali e logaritmi
                li Funzioni trigonometriche



        +float_box
            +lecture_title Lezione 2: Derivate

            p Aula virtuale A, 22/09/2020 9:00-12:00

            p.b Teoria
            ul
                li Motivazione e definizione fisica
                li Derivate delle funzioni elementari
                li Regole di derivazione
                li Derivate e monotonia

            p.b Esercizi
            ul 
                li Esempi di calcolo delle derivate
                li Ottimizzazione di funzioni

        +float_box
            +lecture_title Lezione 3: Studi di funzione

            p Aula virtuale A, 23/09/2020 9:00-12:00

            p.b Teoria
            ul 
                li Cosa vuol dire studiare una funzione?
    
            p.b Esercizi
            ul 
                li Studi di funzioni elementari

        +float_box
            +lecture_title Lezione 4: Integrali

            p Aula virtuale A, 24/09/2020 9:00-12:00

            p.b Teoria
            ul 
                li Motivazione e definizione fisica
                li Integrali delle funzioni elementari
                li Regole di integrazione

            p.b Esercizi
            ul 
                li Integrali di funzioni elementari
                li Altri integrali utili

        +float_box
            +lecture_title Lezione 5: Vettori

            p Aula virtuale A, 25/09/2020 9:00-12:00

            p.b Teoria
            ul
                li Definizione di vettore
                li Versori e componenti cartesiane
                li Operazioni con i vettori

            p.b Esercizi
            ul 
                li Operazioni vettoriali
                li Componenti cartesiane

    +float_clear
