-
    
    
    cv_education = [
        {
        title: "Ph.D. in Theoretical Physics",
        subtitle: "Università degli Studi di Milano",
        when: "2018 - Present",
        sortdate: "01/10/2018",
        where: "@ UNIMI",
        url: "http://phd.fisica.unimi.it",
        info: [
                "Supervisor: Sergio Caracciolo",
                "Research topics: Euclidean random combinatorial optimization, Theoretical data science",
                "Main collaborators: Sergio Caracciolo, Pietro Rotondo, Andrea Sportiello"        ]
            },    {
        title: "M.Sc. in Physics (110 cum laude/110)",
        subtitle: "Università degli Studi di Milano",
        when: "2016 - 2018",
        sortdate: "01/10/2016",
        where: "@ UNIMI",
        url: "https://www.unimi.it/en/education/physics-0"
            },    {
        title: "B.Sc. in Physics (110 cum laude/110)",
        subtitle: "Università degli Studi di Milano",
        when: "2013 - 2016",
        sortdate: "01/10/2013",
        where: "@ UNIMI",
        url: "https://www.unimi.it/en/education/physics"
            }    ].sort(datesort)

        
    
    cv_schools = [
        {
        title: "Mathematical and Computational Aspects of Machine Learning",
        subtitle: "Ennio De Giorgi center",
        when: "10/2019",
        sortdate: "01/10/2019",
        where: "@ SNS, Pisa",
        url: "http://www.crm.sns.it/event/451/",
        info: [
                "Lectures on optimal transport, mean field Bayesian inference, numerical methods in machine learning and approximation theory"        ]
            },    {
        title: "Lectures on Statistical Field Theories",
        subtitle: "Galileo Galilei Institute",
        when: "02/2019",
        sortdate: "01/02/2019",
        where: "@ GGI, Firenze",
        url: "http://theory.fi.infn.it/SFTschool/SFT_2019/",
        info: [
                "Lectures on tensors networks, Floquet physics, Luttinger liquids and transport phenomena in 1d"        ]
            },    {
        title: "Internship in Electronic Structure",
        subtitle: "European Syncrotron Radiation Facility",
        when: "09/2015",
        sortdate: "01/09/2015",
        where: "@ ESRF, Grenoble",
        url: "https://www.esrf.eu/home/education/summer-student-programme.html",
        info: [
                "Lectures on X-ray and neutron physics and imaging techniques",
                "Experimental project with the ID26 - “X-ray absorption and emission spectroscopy” group (PI: Pieter Glatzel) on the measurement of Eu3+ fluorescence spectrum"        ]
            }    ].sort(datesort)

        
    publications = [
    {
        sortdate: "28/10/2020",
        title: "The p-Airy distribution",
        authors: "Caracciolo, Erba*, Sportiello",
        journal: "Preprint Arxiv (2020)",
        doi: "arxiv: 2010.14468",
        url: "https://arxiv.org/abs/2010.14468"
    }, {
        sortdate: "14/09/2020",
        title: "Statistical learning theory of structured data",
        authors: "Pastore, Rotondo, Erba, Gherardi",
        journal: "Physical Review E (2020, Editor`s suggestion)",
        doi: "doi:10.1103/PhysRevE.102.032119",
        url: "https://doi.org/10.1103/PhysRevE.102.032119"
    }, {
        sortdate: "14/07/2020",
        title: "Random geometric graphs in high dimension",
        authors: "Erba, Ariosto, Gherardi, Rotondo",
        journal: "Physical Review E (2020)",
        doi: "doi:10.1103/PhysRevE.102.012306",
        url: "https://doi.org/10.1103/PhysRevE.102.012306"
    }, {
        sortdate: "14/01/2020",
        title: "The Dyck bound in the concave 1-dimensional random assignment model",
        authors: "Caracciolo, D’Achille, Erba*, Sportiello",
        journal: "Journal of Physics A (2020)",
        doi: "doi:10.1088/1751-8121/ab4a34",
        url: "https://doi.org/10.1088/1751-8121/ab4a34"
    }, {
        sortdate: "18/06/2019",
        title: "Intrinsic dimension estimation for locally undersampled data",
        authors: "Erba, Gherardi, Rotondo",
        journal: "Scientific Reports (2019)",
        doi: "doi:10.1038/s41598-019-53549-9",
        url: "https://doi.org/10.1038/s41598-019-53549-9"
    }, {
        sortdate: "19/05/2017",
        title: "Unified Fock space representation of fractional quantum Hall states",
        authors: "Di Gioacchino, Molinari, Erba, Rotondo",
        journal: "Physical Review B (2017)",
        doi: "doi:10.1103/PhysRevB.95.245123",
        url: "https://doi.org/10.1103/PhysRevB.95.245123"
    }    ].sort(datesort)

        
    
    talks = [
        {
        title: "Invited talk | Intrinsic dimension estimation for locally undersampled data",
        subtitle: "Michele Parrinello`s group, Università della Svizzera Italiana",
        when: "12/11/2019",
        sortdate: "12/11/2019",
        where: "Lugano (CH)",
        url: "https://vittorioerba.github.io/assets/talk-IDE-USI.pdf"
            },    {
        title: "Talk | Intrinsic dimension estimation for locally undersampled data",
        subtitle: "Complex System Meeting, Università degli Studi di Milano",
        when: "31/10/2019",
        sortdate: "31/10/2019",
        where: "Milano (IT)",
        url: "https://vittorioerba.github.io/assets/talk-IDE-USI.pdf"
            },    {
        title: "Poster | Intrinsic dimension estimation for locally undersampled data",
        subtitle: "Complex System Meeting, Università degli Studi di Milano",
        when: "24/06/2019",
        sortdate: "24/06/2019",
        where: "Parma (IT)",
        url: "https://vittorioerba.github.io/assets/talk-IDE-USI.pdf"
            }    ].sort(datesort)

        
    
    teaching = [
        {
        title: "Tutoring for university courses",
        subtitle: "University of Milan",
        when: "Spring 2019 - Present",
        sortdate: "01/12/2020",
        where: "@ UNIMI",
        url: "./teaching.html",
        info: [
                "Fall 2020: Numerical treatment of experimental data (C++, OOP and numerical methods)",
                "Fall 2020: Precourse of mathematics for freshmen in physics (basic maths)",
                "Spring 2020: Mathematical methods in physics (complex and functional analysis)",
                "Fall 2019: Recovery course of mathematics for freshman in natural sciences (basic maths)",
                "Spring 2019: Mathematical methods in physics (complex and functional analysis)"        ]
            },    {
        title: "Thesis superivision",
        subtitle: "University of Milan",
        when: "Fall 2019",
        sortdate: "01/12/2019",
        where: "@ UNIMI",
        url: "./teaching.html",
        info: [
                "Fall 2019, Sebastiano Ariosto, “Random geometric graphs in high dimension”",
                "Fall 2019, Mirko Rossini, “Geometry of structured datasets via multi-scale persistency analysis”"        ]
            },    {
        title: "Substitute physics teacher for a secondary public school",
        subtitle: "Istituto Professionale “L. Einaudi”",
        when: "20/2016 - 06/2017",
        sortdate: "01/06/2017",
        where: "Varese (IT)",
        url: ""
            }    ].sort(datesort)

        
    
    scholarships = [
        {
        title: "Ph.D Scholarship",
        subtitle: "Awarded by Università degli Studi di Milano",
        when: "2021-2019",
        sortdate: "",
        where: "",
        url: ""
            },    {
        title: "Excellence Scholarship",
        subtitle: "Awarded by Università degli Studi di Milano to students complying with annual courses requirements",
        when: "2015-2017",
        sortdate: "",
        where: "",
        url: ""
            }    ].sort(datesort)

        
    
        
    
    conferences = [
        {
        title: "Brain Criticality Meeting",
        subtitle: "Virtual venue",
        when: "10/2020",
        sortdate: "",
        where: "",
        url: ""
            },    {
        title: "Complex Systems Meeting",
        subtitle: "University of Milan",
        when: "10/2019",
        sortdate: "",
        where: "Milano (IT)",
        url: ""
            },    {
        title: "Statistical Physics Meeting",
        subtitle: "University of Parma",
        when: "06/2019",
        sortdate: "",
        where: "Parma (IT)",
        url: ""
            },    {
        title: "International Conference of Physics Students",
        subtitle: "Organized by IAPS",
        when: "2016 &amp; 2017",
        sortdate: "",
        where: "",
        url: ""
            },    {
        title: "Italian Conference of Physics Students",
        subtitle: "Organized by AISF",
        when: "2015, 2016 &amp; 2017",
        sortdate: "",
        where: "",
        url: ""
            }    ].sort(datesort)

        
    
    work = [
        {
        title: "Teacher for an e-textiles workshop for elementary school students",
        subtitle: "Makerstown 2018",
        when: "22/05/2018",
        sortdate: "22/05/2018",
        where: "Brussels (BE)",
        url: "https://makerstown.eu/",
        info: [
                "Guided multiple groups of 20 children into making a bracelet with conductive sewing threads and LED lights"        ]
            },    {
        title: "Student job at the office for didactics",
        subtitle: "Università degli Studi di Milano, Maths dept.",
        when: "11/2017 - 03/2018",
        sortdate: "01/03/2018",
        where: "Milano (IT)",
        url: "",
        info: [
                "Responsible for exams’ scheduling",
                "Responsible for the update of the informations on courses, professors and exams on the department websites"        ]
            },    {
        title: "Secretary and IT contributor",
        subtitle: "Italian Association of Physics Students",
        when: "09/2014 - 12/2017",
        sortdate: "01/12/2017",
        where: "@AISF",
        url: "http://ai-sf.it/",
        info: [
                "Responsible for the bureaucracy of the non-profit association",
                "Contributor to the public website and the private online database of the association",
                "Organizer of the PAPAP16 event, a visit to the Gran Sasso national laboratories with 40 participants from all around Europe",
                "Organizer of outreach events",
                "Volunteer for the XXXII International Conference of Physics Students"        ]
            },    {
        title: "Supervisor for 6 Junior Camps",
        subtitle: "Sardinia Radio Telescope &amp; Nus Observatory",
        when: "09/2014 - 12/2017",
        sortdate: "01/12/2016",
        where: "Cagliari (IT), Nus (IT)",
        url: "",
        info: [
                "Responsible for up to 54 high school students",
                "Teaching support to lecturers"        ]
            }    ].sort(datesort)

        
    
    software = [
        {
        title: "Software | A small collection of Julia utilities for lattice path simulations",
        subtitle: "",
        when: "15/02/2020",
        sortdate: "15/02/2020",
        where: "",
        url: "https://github.com/vittorioerba/juliaLatticePaths"
            },    {
        title: "Software | pyFCI: a Full Correlation Integral IDE library in Python",
        subtitle: "",
        when: "15/02/2020",
        sortdate: "15/02/2020",
        where: "",
        url: "https://github.com/vittorioerba/pyFCI"
            }    ].sort(datesort)

        
    cv_work = [...work, ...teaching].sort(datesort)
    materials = [...talks].sort(datesort)


    supervised = [
        {
            date:       "06/2019 - 04/2020",
            student:    "Sebastiano Ariosto",
            type:       "M.Sc. thesis",
            url:        "./assets/supervisedThesis_SebastianoAriosto.pdf",
            project:    "DATA",
            nowAt:      "Now PhD student @ Insubria University"
        },{
            date:       "10/2019 - 04/2020",
            student:    "Mirko Rossini",
            type:       "M.Sc. thesis",
            url:        "./assets/supervisedThesis_MirkoRossini.pdf",
            project:    "DATA",
            nowAt:      "Now PhD student @ Ulm University",
            urlAt:      "https://www.uni-ulm.de/en/nawi/institute-for-complex-quantum-systems/welcome/"
        }
    ]

    tutoring = [
        {
            date:       "Fall 2021",
            course:     "Numerical treatment of experimental data<br> (OOP and numerical simulations in C++)",
            url:        "http://labmaster.mi.infn.it/Laboratorio2/labTNDS/"
        },{
            date:       "Fall 2021",
            course:     "Pre-course of mathematics for physicists",
            url:        "./teaching_precorso2021.html"
        },{
            date:       "Spring 2020",
            course:     "Mathematical methods for physics",
            url:        "./teaching_metodi2020.html"
        },{

            date:       "Fall 2019",
            course:     "Basic math for Natural Sciences",
            url:        ""
        },{

            date:       "Spring 2019",
            course:     "Mathematical methods for physics",
            url:        "http://wwwteor.mi.infn.it/~molinari/metodi2020.html"
        }
    ]
