doctype html
html(lang='en')

    head
        title Vittorio Erba

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='./src/style.css')
        link(href='https://fonts.googleapis.com/css?family=Comfortaa&display=swap', rel='stylesheet')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css")
    
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(defer, type="text/javascript", src="src/index.js")
    
    body
        // div#nav

        div.section#sec-home

            div#sec-home-grid

                div#header
                    div#name
                        p#title Vittorio Erba
                        p#subtitle Ph.D. student in Statistical Mechanics @ UNIMI
                    
                    div#contacts
                        div#icon-box
                            a(href="mailto:vittorio.erba@unimi.it")
                                i.fa.fa-2x.fa-envelope
                            a(href="https://github.com/vittorioerba")
                                i.fa.fa-2x.fa-github
                            a(href="https://scholar.google.com/citations?user=mUgeZ3YAAAAJ&hl=it")
                                i.ai.ai-2x.ai-google-scholar
                            a(href="https://arxiv.org/search/?searchtype=author&query=Erba%2C+Vittorio")
                                i.ai.ai-2x.ai-arxiv

                div#mid
                    div#desc
                        p I'm a Ph.D. student in Statistical Mechanics at the University of Milan, where I work under the supervision of Professor 
                            a(href="http://pcteserver.mi.infn.it/~caraccio/") Sergio Caracciolo
                            | .
                        p My research projects lie at the intersection of disordered-systems physics, machine learning and combinatorial optimization. At the moment, my interest is shifting more and more on the study of learning architectures.
                        p When I'm not programming for research, you can usually find me programming for fun, cooking or reading a good book!

                    img(src="files/VittorioErba_2.jpg")#photo
                
                div#cv
                    p.shaded#cv-title CV in short (more 
                        a(href="files/CV_VittorioErba.pdf") here
                        | )
                    div#cv-list
                        div.date-sx
                            b 2018 - 2020
                        div.content-dx
                            p Ph.D. student in Statistical Mechanics & Teaching assistant @ 
                                a(href="http://phd.fisica.unimi.it/") UNIMI
                        
                        div.date-dx
                            b Oct 2019 
                        div.content-sx
                            p Mathematical and Computational Aspects of Machine Learning @ 
                                a(href="http://www.crm.sns.it/event/451/") SNS
                                |  | School
                        
                        div.date-dx
                            b Feb 2019
                        div.content-sx
                            p Lectures on Statistical Field Theories @ 
                                a(href="http://theory.fi.infn.it/SFTschool/SFT_2019/") GGI
                                |  | School
                        
                        div.date-sx
                            b 2016 - 2018
                        div.content-dx
                            p M.Sc. in Theoretical Physics @ 
                                a(href="https://www.unimi.it/en/education/physics-0") UNIMI
                        
                        div.date-dx
                            b 2015 - 2017
                        div.content-sx
                            p Secretary, IT contributor and event organizer @ 
                                a(href="http://ai-sf.it/") AISF
                        
                        div.date-sx
                            b 2013 - 2016
                        div.content-dx
                            p B.Sc. in Physics @ 
                                a(href="https://www.unimi.it/en/education/physics") UNIMI
                        
                        div.date-dx
                            b Sep 2015
                        div.content-sx
                            p ESRF/ILL International Summer Student Programme @ 
                                a(href="https://www.esrf.eu/home/education/summer-student-programme.html") ESRF
                                |  | Internship


                div#lists
                    p.list-title.shaded News
                    div#news
                        table.list
                            tr 
                                td.left 
                                    b 12 Jan 2021
                                td.right
                                    | New 
                                    a(href="https://arxiv.org/abs/2101.03754").shaded-in-text pre-print
                                    |  out on the ArXiv.
                            tr 
                                td.left 
                                    b 15 Dec 2020
                                td.right Virtual seminar @EPFL. Check out the 
                                    a(href="files/2012-DataStruct-talk-EPFL-VittorioErba.pdf").shaded-in-text slides
                                    | .

                            tr 
                                td.left 
                                    b 27 Oct 2020
                                td.right
                                    | New 
                                    a(href="https://arxiv.org/abs/2010.14468").shaded-in-text pre-print
                                    |  out on the ArXiv.

                            tr
                                td.left
                                    b 6 Oct 2020
                                td.right
                                    | Participating to the 
                                    a(href="https://braincriticality.org/") Brain Criticality Virtual Meeting
                                    |.
                            tr
                                td.left
                                    b 14 Sep 2020
                                td.right
                                    | New 
                                    a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.032119").shaded-in-text article
                                    |  published on PRE, selected as Editor's suggestion.
                            tr 
                                td.left
                                    b 14 Jul 2020
                                td.right
                                    | New 
                                    a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.012306").shaded-in-text article
                                    |  published on PRE.

                    p.list-title.shaded Publications
                    div#publications
                        table.list
                            tr 
                                td.left
                                    b 12 Jan 2021
                                td.right
                                    b Self-induced glassy phase in multimodal cavity quantum electrodynamics.
                                    br
                                    | Erba, Pastore, Rotondo. 
                                    a(href="https://arxiv.org/abs/2101.03754") Arxiv
                            tr 
                                td.left
                                    b  27 Oct 2020
                                td.right
                                    b The p-Airy distribution.
                                    br
                                    | Caracciolo, Erba, Sportiello. 
                                    a(href="https://arxiv.org/abs/2010.14468") Arxiv
                            tr
                                td.left
                                    b  14 Sep 2020
                                td.right
                                    b Statistical learning theory of structured data
                                    br
                                    | Pastore, Gherardi, Erba, Rotondo. 
                                    a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.032119") Physical Review E (Editor's suggestion)
                            tr
                                td.left
                                    b  14 Jul 2020
                                td.right
                                    b Random geometric graphs in high dimension
                                    br
                                    | Erba, Ariosto, Gherardi, Rotondo. 
                                    a(href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.102.012306") Physical Review E
                            tr
                                td.left
                                    b  14 Jan 2020
                                td.right
                                    b The Dyck bound in the concave 1-dimensional random assignment model
                                    br
                                    | Caracciolo, D'Achille, Erba, Sportiello. 
                                    a(href="https://iopscience.iop.org/article/10.1088/1751-8121/ab4a34") Journal of Physics A
                            tr
                                td.left
                                    b  20 Nov 2019
                                td.right
                                    b Intrinsic dimension estimation for locally undersampled data
                                    br
                                    | Erba, Gherardi, Rotondo. 
                                    a(href="https://www.nature.com/articles/s41598-019-53549-9") Scientific Reports
                            tr
                                td.left
                                    b  19 Jun 2017
                                td.right
                                    b Unified Fock space representation of fractional quantum Hall states 
                                    br
                                    | Caracciolo, Erba, Sportiello. 
                                    a(href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.95.245123") Physical Review B

                    p.list-title.shaded Resources
                    div#material
                        table.list
                            tr 
                                td.left
                                    b 15 Dec 2020
                                td.right
                                    b Data structure in machine learning: estimators and models
                                    br
                                    | Virtual talk @ EPFL. 
                                    a(href="files/2012-DataStruct-talk-EPFL-VittorioErba.pdf") Slides
                            tr
                                td.left
                                    b 12 Nov 2019
                                td.right
                                    b Intrinsic dimension estimation for locally undersampled data
                                    br
                                    | Talk @ USI.  
                                    a(href="files/1911-IDE-talk-USI-VittorioErba.pdf") Slides
                            tr
                                td.left
                                    b 31 Oct 2019
                                td.right
                                    b Intrinsic dimension estimation for locally undersampled data
                                    br
                                    | Talk @ V Complex Systems meeting, Milan.  
                                    a(href="files/1910-IDE-talk-Milano-VittorioErba.pdf") Slides
                            tr
                                td.left
                                    b 24 Jun 2019
                                td.right
                                    b Intrinsic dimension estimation for locally undersampled data
                                    br
                                    | Poster @ XXXIV Statistical Physics meeting, Parma.  
                                    a(href="files/1906-IDE-poster-Parma-VittorioErba.pdf") Slides
                    
                    p.list-title.shaded Software
                    div#software
                        table.list
                            tr 
                                td.left
                                    b &#8226;
                                td.right
                                    b A small collection of Julia utilities for lattice path simulations.
                                    br
                                    a(href="https://github.com/vittorioerba/juliaLatticePaths") Github
                            tr
                                td.left 
                                    b &#8226;
                                td.right
                                    b pyFCI: a Full Correlation Integral IDE library in Python
                                    br
                                    a(href="https://github.com/vittorioerba/pyFCI") Github

                    p.list-title.shaded Teaching
                    div#teaching
                        table.list
                            tr 
                                td.left
                                    b Fall 2020
                                td.right
                                    b Numerical treatment of experimental data
                                    br
                                    
                                    | OOP and numerical simulations in C++. 
                                    a(href="http://labmaster.mi.infn.it/Laboratorio2/labTNDS/") Course website
                            tr
                                td.left
                                    b Sep 2020
                                td.right
                                    b Pre-course of mathematics for physicists
                                    br
                                    
                                    a(href="teaching_precorso2021.html") Course website
                            tr 
                                td.left
                                    b Spring 2020
                                td.right
                                    b Mathematical methods for physics
                                    br
                                    
                                    | Complex and functional analysis. 
                                    a(href="teaching_metodi2020.html") Tutoring website
                                    |  - 

                                    a(href="http://wwwteor.mi.infn.it/~molinari/metodi2020.html") Course website
                            tr
                                td.left
                                    b Fall 2019
                                td.right
                                    b Basic math for Natural Sciences
                            tr
                                td.left
                                    b Spring 2019
                                td.right
                                    b Mathematical methods for physics
                                    br
                                    
                                    | Complex and functional analysis. 
                                    a(href="http://wwwteor.mi.infn.it/~molinari/metodi2020.html") Course website

                    p.list-title.shaded Student supervision
                    div#supervision
                        table.list
                            tr 
                                td.left
                                    b Jun 2019 - Apr 2020
                                td.right
                                    b M.Sc. Thesis - Sebastiano Ariosto
                                    br
                                    
                                    | Now PhD student @ Insubria University. 
                                    a(href="files/2004-MSC-thesis-SebastianoAriosto.pdf") Thesis
                            tr
                                td.left
                                    b Oct 2019 - Apr 2020
                                td.right
                                    b M.Sc. Thesis - Mirko Rossini
                                    br
                                    
                                    | Now PhD student @ Ulm University. 
                                    a(href="files/2004-MSC-thesis-MirkoRossini.pdf") Thesis





