:root {
    --lg: #eeeeee;

    --font-small: 13pt;
    --font-medium: 20pt;
    --font-big: 40pt;
    --icon-size: 35pt;

    font-family: 'Comfortaa';
}

/* reset */
html, body, div, p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: var(--font-small);
}

/* ul { */
/*     list-style-type: none; */
/* } */

/* remove ugly blue color form links */
a {
  color: inherit; /* blue colors for links too */
}

.shaded {
    position: relative;
    text-decoration: none;
    z-index: 0;
    width: min-content;
    overflow: visible;
}

.shaded:after {
    background-color: #eeeeee;
    bottom: 0px;
    content: ' ';
    display: block;
    height: 50%;
    left: 7px;
    position: absolute;
    width: calc(100% + 10px);
    z-index: -1;
}

/* .shaded:hover:after { */
/*     background-color: #eeeeee; */
/*     bottom: 0px; */
/*     content: ' '; */
/*     display: block; */
/*     height: 100%; */
/*     left: 7px; */
/*     position: absolute; */
/*     width: calc(100% + 10px); */
/*     z-index: -1; */
/*     transition: height 0.1s linear; */
/* } */

.section {
    position: relative;
    width: 100vw;
    background: white;
}

#sec-home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sec-home-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1000px;
}

#header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    margin-top: 70px;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title {
    font-size: var(--font-big);
    display:block;
}

#contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

#icon-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 2px solid;
}

#photo {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: 0 35px;
}

#mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

#desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
}

#desc p {
    padding: 10px 5px;
    text-align: justify;
}

#desc-teaching p {
    padding: 10px 5px;
    text-align: justify;
    margin: 0 auto;
    width: 90%;
}

#cv {
    margin-top: 50px;
}

#cv-title {
    font-size: var(--font-medium);
    width: max-content;
    margin: 5px 0 30px 0;
}

#cv-list {
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    grid-auto-flow: dense;
}

#cv-list > div {
    height: 40px;
    display: table;
}

#cv-list > div > *{
    display: table-cell;
    vertical-align: middle;
}

.sx {
    text-align: right;
    padding-right: 5px;
}

.dx {
    text-align: left;
    padding-left: 5px;
}


.content-sx {
    grid-column: 1 / span 2;   
    text-align: right;
    padding-right: 5px;
    background: var(--lg);
}

.date-dx {
    grid-column: 3 / span 1;   
    text-align: left;
    padding-left: 5px;
    background: var(--lg);
}

.date-sx {
    grid-column: 1 / span 1;   
    text-align: right;
    padding-right: 5px;
}

.content-dx {
    grid-column: 2 / span 2;   
    text-align: left;
    padding-left: 5px;
}




/* #cv-list { */
/*     position: relative; */
/*     background: white; */
/* } */

/* #cv-list li { */
/*     padding: 5px; */
/*     background: inherit; */
/* } */

/* .sublist { */
/*     text-align: right; */
/*     background: var(--lg); */
/* } */

/* .date { */
/*     position: relative; */
/*     display: inline-block; */
/*     width: 110px; */
/* } */

#lists {
    margin: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: left;
    width: 100%;
}

#lists > div {
    /* display:none; */
    margin: 25px 40px;
}

.list-title {
    font-size: var(--font-medium);
    width: max-content;
}

.list {
    width: 100%;
    text-align: left;
}

.list tr:nth-child(even) {
    background: var(--lg);
}

.lecture-desc {
    margin:0;
    padding:0;
    line-height: 30px;
}

.lecture-desc p {
    margin: 0;
    padding:0;
}

.lecture-desc ol {
    list-style-type: decimal;
    padding: 0 30px;
}

.lecture-title {
    font-size: var(--font-medium);
    width: max-content;
}
/* .list li { */
/*     padding: 5px 0; */
/* } */

/* .list li * { */
/*     padding: 5px 0; */
/* } */

/* .list > p { */
/*     margin: 0; */
/*     padding: 5px 0; */
/* } */


.list td {
    vertical-align: top;
}

.right {
    margin: 0;
    padding: 5px 0;
}

.left {
    margin: 0;
    width: 200px;
    text-align: right;    
    padding: 5px 15px 5px 0;
}

#risorse {
    margin: 0 40px;
}

#risorse li {
    padding: 3px 0; 
}


@media screen and (max-width: 1100px) {
    #desc-teaching {
        margin: 30px auto;
    }

    #sec-home-grid {
        margin-left: 50px;
        margin-right: 50px;
    }

    #mid {
        align-items: flex-start;
    }

    #desc {
        margin-right: 60px;
    }

    /* #lists label { */
    /*     width: 33%; */
    /*     margin: 15px 0; */
    /* } */

    #tab-contents > div {
        /* display:none; */
        margin: 50px auto;
    }

    
    
    .left {
        margin: 0;
        width: auto;
        text-align: right;    
        padding: 5px 15px 5px 0;
    }

    #cv-list > div {
        line-height: 40px;
        /* padding-top: 7px; */
        /* padding-bottom: 7px; */
    }

    .content-sx {
        grid-column: 2 / span 2;   
        text-align: left;
        padding-left: 5px;
    }

    .date-dx {
        grid-column: 1 / span 1;   
        text-align: right;
        padding-right: 5px;
    }

}


@media screen and (max-width: 880px) {
    #lists label {
        width: 80%;
        margin: 15px 0;
    }
    
    #mid {
        align-items: center;
    }
    
    #header {
        margin-top: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #desc {
        margin-right: 0;
    }

    #name {
        margin: 20px 0;
        text-align: center;
    }

    #cv-title {
        margin: 5px auto 35px auto;
        text-align: center;
    }
    
    .list-title {
        margin: 0 auto;
    }

    #cv-list{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    #cv-list > div {
        grid-column: 1 / span 1;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    #icon-box{
        padding-bottom:0;
        border-bottom:none;
    }

    #mid {
        margin-top: 0;
        flex-direction: column-reverse;
    }

    #photo {
        margin: 30px;
    }

}
