doctype html
html(lang='en')

    head
        title Vittorio Erba

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='./src/style.css')
        link(href='https://fonts.googleapis.com/css?family=Comfortaa&display=swap', rel='stylesheet')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css")
    
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(defer, type="text/javascript", src="src/index.js")
    
    body
        // div#nav

        div.section#sec-home

            div#sec-home-grid

                div#header
                    div#name
                        p#title Tutorato 
                        p#subtitle Precorso matricole 2020/21
                    
                    div#contacts
                        div#icon-box
                            a(href="mailto:vittorio.erba@unimi.it")
                                i.fa.fa-2x.fa-envelope
                            a(href="index.html")
                                i.fa.fa-2x.fa-home

                div#mid
                    div#desc-teaching
                        p.b Il precorso si svolgerà su Zoom in aula virtuale A dal 21 al 25 settembre, dalle 9.00 alle 12.00.
                        
                        p.b I pdf delle lezioni sono disponibili 
                            a(href="https://unimi2013-my.sharepoint.com/:f:/g/personal/vittorio_erba_unimi_it/EsmXL9-Ms9JMoYE4IhEvGYoBGaYVqvsm0dH5XzdSK6Px5Q?e=F6U0TB")
                                | qui
                            | .
                            | Per ottenere le registrazioni audio e video delle lezioni, contattatemi via 
                            a(href="mailto:vittorio.erba@unimi.it")
                                | mail
                            | .

                        // p.b Audio, video, chat e pdf delle lezioni saranno disponibili dopo la lezione 
                        //     a(href="https://unimi2013-my.sharepoint.com/:f:/g/personal/vittorio_erba_unimi_it/EsmXL9-Ms9JMoYE4IhEvGYoBGaYVqvsm0dH5XzdSK6Px5Q?e=F6U0TB")
                        //         | qui
                        //     | .

                        p Potete contattarmi all'indirizzo 
                            a(href="mailto:vittorio.erba@unimi.it")
                                | vittorio.erba [at] unimi [dot] it 
                            | per ogni dubbio o domanda.

                        p Risorse utili:
                        ul#risorse
                            li il vostro libro di testo della scuola superiore è un ottima risorsa (se non ve ne siete già liberati);
                            li i volumi 4 e 5 della collana di libri di testo di matematica open-source per i licei scientifici "Dal problema al modello matematico", reperibili gratuitamente sul sito 
                                a(href="https://www.matematicamente.it/manuali-scolastici/") matematicamente.it
                                | , oppure 
                                a(href="https://www.matematicamente.it/staticfiles/manuali-cc/carmelo_di_stefano-dal_problema_al_metodo_matematico-volume_2-triennio-2019.pdf") qui (volume 4)
                                |  e 
                                a(href="https://www.matematicamente.it/staticfiles/manuali-cc/carmelo_di_stefano-dal_problema_al_metodo_matematico-volume_3-triennio-2019.pdf") qui (volume 5)
                                | ;
                            li il libro di testo di fisica open-source per i licei scientifici "Fisica per la scuola superiore", reperibile gratuitamente sul sito 
                                a(href="https://www.matematicamente.it/manuali-scolastici/") matematicamente.it
                                | , oppure 
                                a(href="https://www.matematicamente.it/staticfiles/manuali-cc/g.troiano-g.rocci-fisica_per_la_scuola_superiore.pdf") qui
                                | ;
                            li 
                                a(href="https://www.matematika.it/public/esercizi/14/11_12_domini_3_0.pdf") raccolta di esercizi
                                |  sul calcolo del dominio di funzioni reali;
                            li 
                                a(href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjX1en43e3rAhUYh1wKHWR4DXU4ChAWMAJ6BAgEEAE&url=https%3A%2F%2Fwww.edatlas.it%2Fdocuments%2Fdd26e811-8a41-43b2-9381-17244a45cb1a&usg=AOvVaw3dffWCgIZM_CPAuHoZHM4f") raccolta di esercizi
                                |  sui problemi di ottimizzazione;
                            li
                                a(href="http://www.edutecnica.it/meccanica/vetx/vetx.htm") raccolta di esercizi
                                |  sui vettori.

                div#lists
                    p.lecture-title.shaded Lezione 1
                    div.lecture-desc
                        p Aula virtuale A, 21/09/2020 9:00-12:00
                        p 
                            b Argomento: Funzioni
                        ol
                            li Definizione, dominio, codominio
                            li Iniettività, suriettività e biunivocità
                            li Funzioni reali, monotonia, massimi e minimi
                            li Polinomi e funzioni razionali
                            li Funzioni irrazionali
                            li Esponenziali e logaritmi
                            li Funzioni trigonometriche

                    p.lecture-title.shaded Lezione 2 
                        div.lecture-desc
                            p Aula virtuale A, 22/09/2020 9:00-12:00
                            p 
                                b Argomento: Derivate
                            ol
                                li Motivazione e definizione fisica
                                li Derivate delle funzioni elementari
                                li Regole di derivazione
                                li Derivate e monotonia
                                li Ottimizzazione di funzioni


                    p.lecture-title.shaded Lezione 3
                    div.lecture-desc
                        p Aula virtuale A, 23/09/2020 9:00-12:00
                        p 
                            b Argomento: Studi di funzione
                        ol 
                            li Cosa vuol dire studiare una funzione?
                            li Esercizi su studi di funzioni
                                
                    p.lecture-title.shaded Lezione 4
                    div.lecture-desc
                        p Aula virtuale A, 24/09/2020 9:00-12:00
                        p
                            b Argomento: Integrali
                        ol
                            li Motivazione e definizione fisica degli integrali definiti
                            li Integrali indefiniti e relazione con gli integrali definiti
                            li Integrali delle funzioni elementari
                            li Regole di integrazione

                    p.lecture-title.shaded Lezione 5
                    div.lecture-desc
                        p Aula virtuale A, 25/09/2020 9:00-12:00
                        p
                            b Argomento: Vettori
                        ol
                            li Definizione di vettore
                            li Versori e componenti cartesiane
                            li Operazioni con i vettori
