doctype html
html(lang='en')

    head
        title Vittorio Erba

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='./src/style.css')
        link(href='https://fonts.googleapis.com/css?family=Comfortaa&display=swap', rel='stylesheet')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css")
    
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(defer, type="text/javascript", src="src/index.js")
    
    body
        // div#nav

        div.section#sec-home

            div#sec-home-grid

                div#header
                    div#name
                        p#title Tutorato 
                        p#subtitle Metodi Matematici per la Fisica 2020/21
                    
                    div#contacts
                        div#icon-box
                            a(href="mailto:vittorio.erba@unimi.it")
                                i.fa.fa-2x.fa-envelope
                            a(href="index.html")
                                i.fa.fa-2x.fa-home
                            // a(href="https://scholar.google.com/citations?user=mUgeZ3YAAAAJ&hl=it")
                            //     i.ai.ai-2x.ai-google-scholar
                            // a(href="https://arxiv.org/search/?searchtype=author&query=Erba%2C+Vittorio")
                            //     i.ai.ai-2x.ai-arxiv

                div#mid
                    div#desc-teaching
                        p
                            | Tutte le informazioni ufficiali sul corso si trovano sui siti 
                            a(href="https://ariel.unimi.it/")
                                | Ariel
                            |  dei corsi A (Prof. Molinari) e B (Prof. Zaccone).
                            | Molte risorse utili, compresi i testi dei temi d'esame degli anni passati, si trovano sul 
                            a(href="http://wwwteor.mi.infn.it/~molinari/metodi2020.html")
                                | sito del Prof. Molinari
                            |.
                        p Le lezioni di tutorato principali si svolgeranno in aula virtuale B il venerdì dalle 13.30 alle 14.30, dal 16 aprile al 28 maggio.
                            |  Sotto trovate il programma delle lezioni.
                            br
                            | -> I pdf delle lezioni principali e le registrazioni sono disponibili 
                            a(href="https://unimi2013-my.sharepoint.com/:f:/g/personal/vittorio_erba_unimi_it/Es7JvVDK5O5DpQbMEePb0jABklt8xj7CHfUiL83f7QqXwQ?e=x7aq4r")
                                | qui
                            | . La password è quella delle aule virtuali del dipartimento.
                        
                        p  Alcune lezioni aggiuntive saranno erogate in modalità asincrona. 
                            | Sono lezioni tratte dal corso di tutorato dello scorso anno, e trattano alcuni degli esercizi che non riusciremo a svolgere in classe durante le lezioni principali.
                            br
                            b ATTENZIONE: tutte le informazioni pratiche che potreste trovare nei materiali delle lezioni aggiuntive si riferiscono al precedente anno accademico!
                            br
                            | -> I pdf delle lezioni aggiuntive e le registrazioni sono disponibili 
                            a(href="https://unimi2013-my.sharepoint.com/:f:/g/personal/vittorio_erba_unimi_it/EpskGLWCcXpKsjAYqM-6mIAB62AYpJruCJVzAQ02oWMRNA?e=f7w3hL")
                                | qui
                            | . La password è quella delle aule virtuali del dipartimento.

                        p
                            | Vi invito caldamente a provare a svolgere gli esercizi proposti PRIMA della lezione!
                            // br
                            // | Durante la lezione darò priorità allo svolgimento degli esercizi in cui avete trovato difficoltà.

                        p Potete contattarmi all'indirizzo 
                            a(href="mailto:vittorio.erba@unimi.it")
                                | vittorio.erba [at] unimi [dot] it
                            |  per ogni dubbio o domanda sugli argomenti in programma.

                        p

                div#lists
                    p.lecture-title.shaded Lezione 1
                    div.lecture-desc
                        p Aula virtuale B (Zoom), 16/04/2021 13:30-14:30
                        p 
                            b Argomento: Serie di potenze e serie di Laurent
                        p Esercizi proposti:
                        ol
                            li Tema d'esame 30/01/2020, esercizio 2
                            li Tema d'esame 23/09/2019, esercizio 2
                            li Tema d'esame 10/09/2019, esercizio 2
                            li Tema d'esame 19/07/2018, esercizio 1
                    
                    p.lecture-title.shaded Lezione aggiuntiva 1
                    div.lecture-desc
                        p Disponibile sotto forma di registrazione
                        p 
                            b Argomento: Mappe complesse e vettori tangenti
                        p Esercizi proposti:
                        ol
                            li Tema d'esame 19/07/2019, esercizio 3
                            li Tema d'esame 29/01/2019, esercizio 2

                    p.lecture-title.shaded Lezione 2 + 3
                    div.lecture-desc
                        p Aula virtuale B (Zoom), 23/04/2021 13:30-14:30
                        p Aula virtuale B (Zoom), 30/04/2021 13:30-14:30
                        p 
                            b Argomento: Integrali con il metodo dei residui
                        p Esercizi proposti:

                        ol 
                            li Tema d'esame 19/06/2019, esercizio 1
                            li Tema d'esame 29/01/2019, esercizio 1
                            li Tema d'esame 19/07/2018, esercizio 2
                            li Tema d'esame 23/09/2019, esercizio 1
                            li Tema d'esame 10/09/2019, esercizio 1
                            li Tema d'esame 20/06/2018, esercizio 1
                                
                    p.lecture-title.shaded Lezione 4 + Lezione aggiuntiva 2
                    div.lecture-desc
                        p Aula virtuale B (Zoom), 07/05/2021 13:30-14:30
                        p
                            b Argomento: Spazi di Hilbert finito dimensionali  
                        p Esercizi proposti:

                        ol
                            li Tema d'esame 23/09/2019, esercizio 3
                            li Tema d'esame 19/06/2019, esercizio 2 
                            li Tema d'esame 19/02/2019, esercizio 3
                            li Tema d'esame 29/01/2019, esercizio 3
                            li Tema d'esame 04/07/2018, esercizio 3 
                            li Tema d'esame 26/09/2017, esercizio 4

                    p.lecture-title.shaded Lezione 5 (to be confirmed!)
                    div.lecture-desc
                        p Aula virtuale B (Zoom), 14/05/2021 13:30-14:30
                        p
                            b Argomento: Spazi di Hilbert infinito dimensionali  
                        p Esercizi proposti:
                        ol
                            li Tema d'esame 30/01/2020, esercizio 3
                            li Tema d'esame 10/09/2019, esercizio 3
                            li Tema d'esame 19/06/2019, esercizio 3
                            li Tema d'esame 19/02/2019, esercizio 2
                            li Tema d'esame 26/09/2018, esercizio 3
                            li Tema d'esame 19/07/2018, esercizio 3
                            li Tema d'esame 04/07/2018, esercizio 4


                    p.lecture-title.shaded Lezione 6 (to be confirmed!)
                    div.lecture-desc
                        p Aula virtuale B (Zoom), 21/05/2021 13:30-14:30
                        p
                            b Argomento: Serie di Fourier
                        p Esercizi proposti:
                        ol
                            li Tema d'esame 10/09/2019, esercizio 4
                            li Tema d'esame 26/09/2018, esercizio 5b 
                            li Tema d'esame 04/07/2018, esercizio 5b 
                            li Tema d'esame 19/07/2019, esercizio 2
                            li Tema d'esame 29/01/2018, esercizio 5b
                            li Tema d'esame 27/06/2017, esercizio 3

                    p.lecture-title.shaded Lezione 7 (to be confirmed!)
                    div.lecture-desc
                        p Aula virtuale B (Zoom), 28/05/2021 13:30-14:30
                        p
                            b Argomento: Trasformata di Fourier
                        p Esercizi proposti:
                        ol 
                            li Tema d'esame 19/07/2018, esercizio 4 
                            li Tema d'esame 19/02/2019, esercizio 4a
                            li Tema d'esame 26/09/2018, esercizio 4
                            li Tema d'esame 20/06/2018, esercizio 5b

                    p.lecture-title.shaded Lezione ??? (probabilmente lezione aggiuntiva, to be confirmed!)
                    div.lecture-desc
                        p Disponibile sotto forma di registrazione
                        p
                            b Argomento: Distribuzioni
                        ol
                            li Tema d'esame 04/07/2018, esercizio 5a 
                            li Tema d'esame 20/06/2018, esercizio 5a
                            li Tema d'esame 19/07/2019, esercizio 5
                            li Tema d'esame 19/07/2017, esercizio 3b
